<!-- <div class="box"[class.myclass]="mypro">class binding</div> -->

<h3>Ngclass and Ngstyle</h3>
<div class="box" [ngclass]="mltclasses">class binding</div>
<br>

<div class="box" [ngstyle]="mltStyle">class binding</div>

<br>
<h3>ngfor in Angular</h3>
<table border="1">
   <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
   </tr>
   <tr *ngFor="let item of data">
       <td>{{item.name}}</td>
       <td>{{item.age}}</td>
       <td>{{item.email}}</td>
   </tr>
</table>

<br>
<h3>ngswitch in Angular</h3>

<div class="container">
     <div class="col-md-4">
        <select class="from-control" >
            <option value="Laptop">Laptop</option>
            <option value="Mobile">Mobile</option>
            <option value="TV">TV</option>
        </select>
     </div>
     <div class="col-md-12" [ngSwitch]="selectedProduct">
        <h4 class="text-success" *ngSwitch="Laptop">Laptop</h4>
        <h4 class="text-success" *ngSwitch="Mobile">Mobile</h4>
        <h4 class="text-success" *ngSwitch="TV">TV</h4>
        <h4 class="text-success" *ngSwitchDefault>Default</h4>
     </div>

     <br>
     <h3>String Interpolation in Angular</h3>

     <br>
     <div>{{ "User" }} With ID {{userId}} is {{ getUserStatus() }}</div>

     <br>
     <h3>Property binding</h3>

     <br>

     <input type="text" [disabled]="enable" name="" id="" [value]=" appStatus? Status1 : Status2">
     <br><br>
     <input type="text" [hidden]="false" name="" id="" bind-value="dynName">

     <br>

     <h3>Event Binding in Angular</h3>
     <br>
     <!-- <button (click)="OnAddCart()">Add to Cart</button> -->
     <br><br>



     <!-- <input type="text" value="myinputtext" (click)="OnInputClick($event)"> -->

     <button value="laptop"(click)=OnAddCart($event)>laptop</button>
     <button value="TV"(click)=OnAddCart($event)>TV</button>
     <button value="Washing Machine" (click)=OnAddCart($event)>Washing Machine</button>

     <p>{{msg}}</p>

     
</div>